
.bell{
    height: 30px;
    width: auto;
}

.belll:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.notifications {
    height: 30px;
    width: auto; 
}

.notifications:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.profile-icon{
    height: 60px;
    width: auto; 
}

.profile-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.messages {
    height: 30px;
    width: auto; 
}

.messages:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.logo{
    height: 30px;
    width: auto; 
    display: flex;
    justify-content: flex-start;
}

.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.website-name {
    font-family: lato;
    display: flex;
    justify-content: flex-start;
}



/* .main-navbar-container {
    display: flex;
    justify-content: space-between;
} */