
.donateButton{
    background: linear-gradient(to right, #ad8241 0%, #dfa753 79%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    
margin-bottom: 50%;
}

.donateButton:hover{
    box-shadow: 4px 4px 4px rgb(129, 129, 129);
    transform: scale(1.1);
    cursor: pointer;

}