
.post-card{
    width: 250px;
    height: 200px;
    text-align: center;
    background-color: #FFD541;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Asap', sans-serif;
    /* text-transform: uppercase; */
    font-size: 14px;
    padding: 5%;
}

.post-body{
    text-align: left;
}